<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Sleep Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    <h1>Sleep Rating</h1>
    <label for="rating">Rate your sleep (1-9):</label>
    <select id="rating">
      <!-- Options 1 through 9 -->
      {% for i in range(1,10) %}
      <option value="{{ i }}">{{ i }}</option>
      {% endfor %}
    </select>
    <button id="saveRating">Save Rating</button>
    <button id="showAnalytics">Show Analytics</button>

    <canvas
      id="analyticsChart"
      width="800"
      height="400"
      style="display: none"
    ></canvas>

    <script src="/static/js/main.js"></script>
  </body>
</html>
